body {
    font-family: Arial, sans-serif;
    margin: 0 ;
    padding: 0;
}

header {
    background-color: black;
    color: cadetblue;
    padding: 10px;
}

nav{
    background-color: aliceblue;
    padding: 10px;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a {
   color: black;
   text-decoration: none;
   padding: 5px;
}
nav ul li a:hover {
    background-color: black;
    color: beige;
    border-radius: 10px;
}
main {
    padding: 20px;
}
.grupo {
    width: 200px;
}
.bateria {
    width: 100px;
}
}